<p class="title">Комментарии</p>

<ul class="comments_list">
    {{#each comments}}
        <li class="comment">{{commentText}}</li>
    {{/each}}
</ul>
<button class="add_comment">Добавить кокомментарий</button>
