<li class="tree_list_item {{#if isDirectory}}directory closed{{else}}file{{/if}}">
     <span class="li_title">
         <span class="li_icon{{#if isDirectory}} open_list_btn{{/if}}"></span>
         {{title}}
     </span>
    {{{html}}}
</li>